body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}
header {
  background-color: #af4c72;
  color: white;
  padding: 1rem;
  text-align: center;
  gap: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #36edf3;
}
li {
  float: left;
  border-right: 1px solid #bbb;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #97f83c;
  color: #000;
}
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
table th {
  background-color: #4caf50;
  color: white;
}
.month-header {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #4caf50;
  text-align: center;
}
footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}
@media screen and (min-width: 600px) {
  body {
    background-color: lightgreen;
  }
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 8px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(146, 126, 235); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  display: flex;
  width: 100%;
  padding: 20px 20px 20px 20px;
  height: 100%;
}
